asgiref==3.9.1
attrs==25.3.0
cloudpickle==3.1.1
colorama==0.4.6
Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.8.1
inflection==0.5.1
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
llvmlite==0.44.0
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.27.0
scikit-learn==1.7.1
scipy==1.15.3
shap==0.48.0
six==1.17.0
slicer==0.0.8
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
gunicorn
